
/* Your CSS Code here. */

.moviePic{
 height:400px;
 width:400px;
 opacity: 0.5;
}

.movieDetail{
	text-align:left;
	font-family:bold;
	font-size:30px;
	width:400px;
	position: relative;
	top: 20px;
	color:blueviolet
}